*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
/* 導覽列 */
.nav{
  position: fixed;
  z-index: 999;
  height: 60px;
  width: 100%;
  background-color: rgb(51, 51, 51);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlink a{
  text-decoration: none;
  color: white;
  margin: 0px 10px;
}
.loginbtn{
  background-color: rgb(75, 149, 194);
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 2px;
  margin-right: 10px;
  cursor: pointer;
}
/* 首頁會員圖表 */
.wrap{
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap h2{
  letter-spacing: 3px;
  font-size: 28px;
  width: 300px;
  margin: 50px auto;
}
.userwrap{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.user{
  box-sizing: border-box;
  width: 200px;
  margin: 20px;
  padding: 20px;
  transition: .3s;
  cursor: pointer;
}
.user:hover{
  background-color: rgb(253, 244, 214);
}

.avatar{
  width: 100%;
  height: 90%;
  position: relative;
}
.avatar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.femaleicon,
.maleicon{
  width: 30px;
  height: 30px;
  background-color: rgba(235, 130, 198, 0.8);
  position: absolute;
  top: 3px;
  left: 5px;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  text-align: center;
}
.maleicon{
  background-color: rgba(137, 192, 241, 0.8) ;
}
.fas{
  line-height: 30px;
}

.username{
  box-sizing: border-box;
  padding-left: 8px;
  background-color: rgba(0, 0, 0, 0.459);
  color: white;
  position: absolute;
  height: 25px;
  line-height: 25px;
  letter-spacing: 1px;
  left: 0;
  right: 0;
  bottom: 0;
}
.live{
  width: 100%;
  color: rgb(165, 165, 165);
}

/* 登入頁 */
.login-background{
  background-color: rgb(245, 245, 245);
}
.infowrap{
  position: absolute;
  top: 10;
  left: 10;
}
.login-success,
.login-fail{
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  font-size: 16px;
  color: white;
  line-height: 50px;
  text-align: center;
  padding: 0px 20px;
}
/* 登入成功 */
.login-success{
  background-color: rgb(28, 106, 54);
  display: none;
}
/* 登入失敗 */
.login-fail{
  background-color: rgb(203, 68, 74);
  display: none;
}


.loginwrap{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  margin: auto;
}
.txt-login{
  margin: 20px 0px;
  font-size: 20px;
  font-weight: 300;
}
/* 輸入框 */
.inputwrap{
  width: 90%;
  border: 1px solid lightslategrey;
}

.loginwrap input{
  box-sizing: border-box;
  padding-left: 5px;
  width: 100%;
  height: 35px;
  border: none;
}
.loginwrap input:focus{
  outline: none;
}

::placeholder{
  font-size: 16px;
}
.btn-wrap{
  margin-top: 20px;
  width: 90%;
  display: flex;
  height: 35px;
  background-color: transparent;
  border: 1px solid #4b95c2;
  border-radius: 3px;
}
.btn-wrap button{
  width: 50%;
  border: none;
  background-color: transparent;
  color: #4b95c2;
  font-size: 16px;
  cursor: pointer;
}
.btn-wrap button:first-child{
  color: white;
  background-color: #4b95c2;
}
.btn-wrap button:focus{
  outline: 5px solid #4b94c272;
}

.inputwrap:first-child{
  border-bottom: 1px solid lightslategrey;
}

.copyright{
  margin-top: 50px;
  color: lightslategray;
}

/* 頁數 */
.pagewrap{
  display: flex;
  align-items: center;
  margin: 50px auto;
}
.pagewrap .page,
.next-page,
.pre-page{
  margin: 0px 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: rgb(75, 149, 194);
  cursor: pointer;
  transition: .2s;
}
.pagewrap div:hover{
  background-color: rgba(211, 211, 211, 0.568);
}
.nowpage{
  /* 目前頁數的反饋 */
  background-color: rgba(75, 148, 194, 0.688);
  color: white !important;
}
.pagewrap{
  text-decoration: none;
  color: rgb(75, 149, 194);
}

/* 前後頁失效效果 */
.pageDisable{
  color: lightgray ;
}

/* 人員卡細節頁 */

.dt-back{
  background-color: rgba(0, 0, 0, 0.514);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  display: none;
}
.dt-wrap{
  width: 70%;
  background-color: white;
  border-radius: 15px;
  height: 70%;
  box-sizing: border-box;
  padding: 20px;
}
.dt-card{
  display: flex;
  align-items: center;
}
.dt-avatar img{
  width: 120px;
  margin-right: 20px;
}
.dt-map{
  width: 100%;
  height: 70%;
  background-color: wheat;
  margin-top: 20px;
}
.dt-info p{
  margin-bottom: 0;
  font-size: 20px;
}
/* 會員列表 */
.memberwrap {
  padding-top: 60px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.title {
  letter-spacing: 3px;
  font-size: 28px;
  width: 300px;
  margin: 50px auto;
  text-align: center;
}

.filter select{
  width: 120px;
  height: 40px;
  border: none;
  box-sizing: border-box;
  padding: 0 10px;
  background-color: rgb(238, 238, 238);
  margin-right: 10px;
  cursor: pointer;
}
.filter select:focus{
  outline: none;
}
.filterResult{
  display: flex;
  justify-content: space-between;
}
.filterResult p{
  margin: 0 10px;
  line-height: 40px;
}

.memberfilter{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}
table{
  margin-top: 50px;
}

table {
  border-collapse:collapse;
}

thead {
  background-color: wheat;
  border-bottom: 2px solid rgb(131, 131, 132);
}
th{
  box-sizing: border-box;
  padding: 10px 0px;
  text-align: center;
}
td{
  text-align: center;
}
td button{
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: rgb(203, 68, 74);
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
}
tbody tr{
  padding: 5px 0px;
  box-sizing: border-box;
}
.table tbody{
  vertical-align: middle !important;
}
tbody tr:hover{
  background-color: rgb(253, 244, 214);
}
input[type='checkbox']{
  width: 15px;
  height: 15px;
}

/* 編輯頁面 */
.editback{
  background-color: rgba(0, 0, 0, 0.438);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.editwrap{
  background-color: white;
  width: 65%;
  max-width: 900px;
  min-width: 650px;
}
.header{
  height: 40px;
  color: white;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 40px;
  padding-left: 15px;
  background-color: rgb(110 , 117, 124);
}
.editform{
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.editform input:focus{
  outline: none;
}
.editform input{
  padding-left: 5px;
  box-sizing: border-box;
}
.imgwrap{
  width: 20%;
  margin-right: 50px;
}
.imgwrap img{
  width: 100%;
  margin-bottom: 20px;
}
.userinfo{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}
.userinfo input{
  height: 28px;
  margin: 5px 10px 5px 0px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.btnwrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btnwrap button{
  margin: 15px 10px;
  padding: 5px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.btnwrap .confirm{
  color: white;
  background-color: rgb(75, 149, 194);
}
.btnwrap .cancel{
  color: white;
  background-color: rgb(110 , 117, 124);
}
.group{
  width: 50%;
  padding-right: 20px;
  box-sizing: border-box;
}
.group input{
  width: 100%;
}

.w100{
  width: 100%;
  box-sizing: border-box;
  padding-right: 20px;
}
.w100 input{
  width: 100%;
  
}
.w50{
  width: 50%;
  padding-right: 20px;
  box-sizing: border-box;
}
.radio{
  display: flex;
  align-items: center;
}
.radio label{
  margin-right: 10px;
  cursor: pointer;
}
input[type='radio']{
  width: 15px;
  cursor: pointer;
}